---
layout: default 
---
<section id="hero" class="container-fluid">
    <div class="row align-items-center">
        <div class="col-md-7 col-sm-11">
            <picture>
                <source media="(min-width: 768px)" srcset="{{ site.baseurl }}/images/HeaderMain.jpg" class=" mx-auto d-block img-fluid" >
                <img src="{{ site.baseurl }}/images/HeaderMain_M.jpg" class=" mx-auto d-block img-fluid"  alt="Divine Holidays">
                <source media="(max-width: 500px)" srcset="{{ site.baseurl }}/images/HeaderMain_T.jpg" class=" mx-auto d-block img-fluid">
            </picture>
        </div>
        <div class="col-md-4">
            <h2 class="text-primary text-center">Who is Divine Explorer</h2>
            <h4 class="p-2">We are team of spiritual seekers who combine learning spiritual wisdom with travel as we explore sacred energy
                spots or new destinations with a purpose to grow in wisdom.We invite you to become a part of Divine Explorer
                as you join our travels and become a part of creating a more conscious society.</h4>
            <a class="button text-center btn-block" href="#Enquiry">Enquiry</a>
        </div>
    </div>
</section>

<!--Popular Packages-->
<section id="main-Packages" class="section-a mt-4">
    <div class="row" id="Guided">
        <div class="col-md-3 normal-text">
            <a href="{{site.baseurl}}explore">
                <h2>Be</h2>
                <div class="border-bottom-thin"></div>
                <h3>Guided</h3>
            </a>
        </div>

        <div class="col-md-9 d-md-flex justify-content-sm-center flex-md-row flex-sm-column">
            {% include all-packages.html category="Popular" limit="2" IsGuided="true" IsFeatured="true" %}
        </div>
    </div>
    <div class="row pt-3 section-b" id="SelfGuided">

        <div class="col-md-3 normal-text">
            <a href="{{site.baseurl}}explore">
                <h2>Self</h2>
                <div class="border-bottom-thin"></div>
                <h3>Guided</h3>
            </a>
        </div>
        <div class="col-md-9 d-md-flex justify-content-sm-center flex-md-row flex-sm-column">
            {% include all-packages.html category="Popular" limit="2" IsGuided="false" IsFeatured="true" %}
        </div>
    </div>
</section>
<div class="border-bottom-thin pt-4"></div>
<section id="whyDE">
    <div class="row p-5">
        <div class="col-md-7 ">
            <h2 class="text-primary border-bottom-thick p-3">
                <b>Why Spiritual Journeys</b>
            </h2>
            <div class="row">
                <div class="col-md-6">
                    <img src="{{site.baseurl}}/images/why_sp_travel.jpg" alt="Divine Traveller" class="mx-auto d-block img-fluid">
                </div>
                <div class="col-md-6 p-3">
                    <ul>
                        <li>Grow in wisdom as you travel</li>
                        <li>Grow in awareness as you connect with nature and sacred</li>
                        <li>Embark on your journey towards the truth...Find your life mission</li>
                        <li>Connect with your self , like minded people and sacred energies</li>

                        <a href="{{site.baseurl}}/why-spiritual-journeys" class="button p-3" role="button">View More</a>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-5 box mt-3">
            <h2 class="text-primary border-bottom-thick">
                <b>Divine Memories</b>
            </h2>

            <div class="row">
                {% for memory in site.divine-memories  limit: "2" %}
                <div class="col-md-12" id="{{ include.Name | slugify }}">
                    <div class="text-secondary">
                        <b>
                            <h3>{{ memory.title }}</h3>
                        </b>
                    </div>
                    <h4>{{ memory.excerpt }}</h4>
                    <p> - {{ memory.author }}</p>
                </div>
                {% endfor %}
            </div>
            <div>
                <a href="{{site.baseurl}}/divine-memories" class="button" role="button">View More</a>
            </div>
        </div>

    </div>
    </div>
</section>