{% assign category =  include.category %}
{% assign limit =  include.limit %}
{% assign guided =  include.IsGuided %}
{% assign featured =  include.IsFeatured %}
{% if featured =="true" %}
{% assign guidedPackages = site.journeys | where: "featured", true %}
{% endif %}



{% if guided =="true" %} 
  {% assign packages = guidedPackages | where: "guided", true %}
    {% else %} 
  {% assign packages = guidedPackages | where: "guided", false %}
{% endif %}

    {% for journey in packages |limit: limit  %}
     
    <div class="col-md-6 col-sm-12">
          <div class="thumbnail card text-center card-img-top mt-3">       
            <img src= "{{site.baseurl}}{{ journey.thumbnail }}" alt="{{ journey.title }}">
              <div class="card-body">
                <h4 class="card-title text-primary"> <b>{{ journey.title }}</b> </h4>                           
                <p class="card-text">{{ journey.excerpt }}</p>
                  <a href="{{site.baseurl}}{{ journey.url }}" class="button" role="button">View More</a>
            </div>
          </div>
        </div>
{% endfor %}
</div>
