<header>
    <div>
        <!-- <div class="row" id="header-top">
            <div class="col-md-12 pull-right">
                    <a href="https://twitter.com/">{% include social-icon.html icon="Twitter" %}</a> 
                    <a href="https://www.facebook.com/divineexplorer?fref=ts">{% include social-icon.html icon="Facebook" %}</a>
                    
            </div>
        </div>   -->
        <div class="row border-bottom">
            <div class="col-md-12">{% include navbar.html %}</div>
        </div>
    </div>
</header>

