$mobile-break:450px;
$root-font-size : 16px;

// Colors
$background-color: rgb(255, 255, 255);
$light-grey: #999;
$brand-primary: #882890;
$brand-secondary: #007ac2;
$link-Color : #707070;
$sub-link-color:#404040;
$post-heading-color: #007ac2;


//Size of elements
$textarea-size:120px;
