<!DOCTYPE html>

<html>
{% include head.html %}

<body>
	{% include alt-nav.html %}
	<div class="padding-Large">
	<section>
		
			{{ content }}
		
	</section>

	<div class="padding-Large bg-gray">
		<div class="row">
			<div class="col-md-8">{% include enquiry.html %}</div>
			<div class="col-md-4">			
				<!-- <label class="margin-top-large">Email Address</label> -->
				
				<label>Address</label>
				<address class="contact-info">{{ site.data.company.address | replace: ',', '<br>' }}</address></div>
				<p class="contact-info"><a href="mailto:{{ site.data.company.contact_email_address }}">{{ site.data.company.contact_email_address }}</a></p>
		</div>
	</div>
	<footer>
		<div class="padding-Large">
			{% include footer.html %}
		</div>
	</footer>
		</div>
</body>
{% include scripts.html %}
</html>