<!--<div class="container">-->

    <html>

        {% include head.html %}
        
        <body>
            {% include navbar.html %}
            <div class="row ">
                <div class="col-md-12"><img src="{{page.fullImages}}" alt="{{page.title}}" class="fullWidth fixedBackground jumboHeight"></div>
            </div>
            <hr>
            <div class="container">
            <div class="row">
                <div class="col-md-2 fixedNav relativePostion">{% include sideNav.html %}</div>
                <div class="col-md-10 thinBorder paddingLarge relativePostion"> {{ content }}</div>
               
            </div> 
            </div>
             <hr>
            {% include footer.html %}
        
        </body>
        {% include scripts.html %}
        
        </html>
        <!--</div>-->