---
layout: default
--- 
<div class="row">
    <div class="col-md-12">
        <img src="{{site.baseurl}}{{page.image}}" alt="{{page.title}}" class="fullWidth jumboHeight objFit">
    </div>
    
</div>
<hr>
<div class="mb-2 container">
    <div class="row">
         <div class="col-md-8 thinBorder box p-5">
                
            <h4>{{page.journey-description}}</h4>
            <div class="separator"></div>
            <div id="#places-covered" class="py-3">
                    <h3 class="text-primary"><img src="{{site.baseurl}}/images/places_covered.png" alt="{{page.title}}"/><b>Places</b> Covered</h3>
                    </div>
            {{ content }}

            <div class="separator"></div>
            <div id="#Journey-guides" class="py-3">
                    <h3 class="text-primary"><img src="{{site.baseurl}}/images/spiritual_master.png" alt="{{page.title}}"/><b>Journey</b> guides</h3>
                    {% if page.guided %}
                        <p>
                                Guruji Prem Nirmal and Guruma Bharti Ji guide us through this transforming journey as we understand how to merge materialism and spirituality and live a life of abundance.

 

                                Both Guruji and Guruma are spiritual scientists, who encourage us to learn by questioning and support their explanation scientific proof.
                        
                        </p>
                        {% else %}
                        <p>

                                Self guided journey for self purification.

                                Becoming a conscious traveler  by taking a self-guided journey/retreat can be a transforming.
                                
                                Self guided journey allows you to  explore more than just the destination, and take that first step to discover more about your inner self, ask questions, visit  yourself, meditate, contemplate, reflect  and bond with higher consciousness,
                                
                                Its a journey which encourages you to  ‘sense’ the vibrations of a location and ‘feel’ the energy of a destination. Embarking on journey which includes not just places but your self ...is conscious traveling on a self-guided journey.
                            </p>
                            {% endif %}
            </div>

            <div class="separator"></div>
            <div id="#Journey-experience" class="py-3">
                    <h3 class="text-primary"><img src="{{site.baseurl}}/images/tour_benefits.png" alt="{{page.title}}"/><b>Journey</b> Experience</h3>
                    {% for experience in page.journey-experience %}
                    
                          <p>{{ experience }}	</p>
    
                 
                          
                    {% endfor %}
            </div>
        
        </div>
        <div class="col-md-4 col-xs-12 padding-Small ">
                <p><a href="{{site.baseurl}}/faq" class="button" role="button"> FAQ</a> </p>
                <p><a href="{{site.baseurl}}/explore" class="button" role="button"> Packages</a> </p>
             
            {% unless page.map-image == blank %}
                                       <p><img src="{{site.baseurl}}{{page.map-image}}" alt="{{page.title}}" class="img-responsive"/></p>
            {% endunless %}
                <p class="bg-gray text-primary"><img src="{{site.baseurl}}/images/tour_benefits.png" alt="{{page.title}}" class="img-responsive"/><b>Journey</b> Highlights</p>
                <!-- <p>{{page.journey-highlights}}</p> -->

                {% for highlight in page.journey-highlights %}
                <ul>
                      <li>{{ highlight }}</li>	

                </ul>	
			      	
	            {% endfor %}
        </div>      

    </div>
</div>
<hr>